.login_div1, .login_div2{
    background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
}

#name , #names
{
	display: inline-block;
	margin-left: 1px;
}

body{
    background-color: crimson;
}

#output{
	background:white;
	border-radius: 10px;
	border-top: 10px solid #AA4465;
	padding:10px;
	float: none;
	text-align: left;
}

#on{
	margin-top: 100px;
}

#se{
	margin-top: 20px;
}